<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据提供商-->
    <add key="provider" value="System.Data.SqlClient"/>

    <!--连接字符串-->
    <add key="cnStr" value="data source=(localdb)\MSSQLLocalDB;initial catalog=AutoLot;integrated security=True;"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name ="AutoLotSqlProvider" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=AutoLot;integrated security=SSPI;"/>
    <add name="AutoLotOledProvider" connectionString="Provider=SQLOLEDB;Data Source=(localdb)\MSSQLLocalDB;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
    </connectionStrings>
</configuration>